* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* header styling */

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

li {
    color: #cfd0d3;
    font-size: 18px;
}

.header {
    padding: 10px 125px 0px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

/* section-one styling */

.section-one {
    margin: 0px;
    display: flex;
    padding: 50px 125px;
    background-color: #1F2937;
}

.title {
    margin-top: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-subtext {
    color: #cfd0d3;
    font-size: 24px;
}

.section-one-img {
    color: #F9FAF8;
}

.section-one-right {
    margin-left: 50px;
}

.section-one-signup {
    background-color: #3882F6;
    padding: 5px 25px;
    color: #F9FAF8;
    border-radius: 6px;
    border: none;
    align-self: flex-start;
}

/* section-two styling */

.section-two-info {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 100px 0;
}

.section-two-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 100px;
    padding-bottom: 150px;
}

.img-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.section-two-img {
    border: 3px solid #3882F6;
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.section-two-text {
    text-align: center;
}

/* section-three styling */

.section-three {
    background-color: #E5E7EB;
    padding: 100px 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    text-align: end;
}

/* section-four styling */

.section-four {
    padding: 100px 75px;
}

.block {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
}

.section-four-signup {
    background-color: #3882F6;
    padding: 5px 25px;
    color: #F9FAF8;
    border-radius: 6px;
    border: 2px solid #F9FAF8;
}

.section-four-left {
    padding: 25px 0 25px 50px;
}

.call-to-action {
    color: #F9FAF8;
}

.signup-text {
    color: #E5E7EB;
}

.section-four-right {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

/* footer styling */

.footer {
    background-color: #1F2937;
    padding: 30px 0px;
}

.footer-text {
    text-align: center;
    color: #F9FAF8;
}